body
{
	margin: 10px;
	padding: 0px;
	font-size: 12px;
	font-family: Economica, Calibri, Helvetica, sans-serif;
	background: #d4adb9;
}

/*#main-info
{
	float: left;
	width: 627px;
}
*/


#aside-info
{
	float: left;
	width: 200px;
	vertical-align: top;
	padding-left: 10px;
}
	
/*
#main-content
{
	height: 368px;
	padding: 10px;
	margin: 10px;
	width: 75%;
}
*/

header
{
	vertical-align: top;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom: double;
	height: 30%;
	width: 80%;
	background-color: #7ec4cf;
}

h1{
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
	border-bottom: double;
	font-size: 36px;
}

#logo{
	display: inline-block;
	vertical-align: middle;
	height: 125px;
	width: 125px;
	margin: 10px;
	
}


.column{
	float: left;
	margin-top: 15px;
}

.content
{
	padding: 10px;
	margin-left: 10px;
	width: 60%;
	/*float: left;	*/
	background-color: #d1cfe2;
	font-size: 16px;
}

.content h2{
	font-weight: bold;
	font-size: 26px;
	color: #52b2cf;
	border-bottom: double;
	border-color: black;
}

/*#navigation*/
.column nav
{
	background: #7ec4cf;	
	padding: 5px;
	width: 125px;
	line-height: 45px;
	text-decoration: none;
	font-size: 20px;
	text-align: center;
	/*float: left;
	height: 20%;*/
}

a{
	text-decoration: underline;
	color: black;
}

#sub-navigation
{
	background: #dddddd;	
	padding: 5px;
	width: 886px;
	float: left;
	height: 18px;
	font-size: 14px;
}

#aside-title-audio
{
	background: #666666;
	width: 233px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	padding: 5px;
}

#content-frame
{
	border: none;
}
	
#transcript
{
	color: green;
	font-size: 12px;
	overflow: auto;
	height: 321px;
	width: 233px;
}

audio
{
	width: 230px;
}

#after_submit{
	
		visibility: hidden;
}

#nextButton
{
	float: right;

}

#center{
	
	position: center;
  	right: 0px;
  	width: 300px;
  	padding: 40px;
}